.buttonBox {
  display: flex;
  gap: 15px;
  .button {
    font-family: inherit;
    font-weight: bold;
    font-size: 2rem;
    width: 150px;
    padding: 10px 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
      transform: translateY(-2px);
    }
    &:active {
      transform: translateY(0);
    }
  }
}
